@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

* {
  background-color: rgb(31, 29, 29);
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  margin: auto;
  width: 600px;
  box-shadow: 1px 0px 12px 12px rgba(66, 66, 66, 0.37);
}

h2 {
  color: #1e630b;
  border-bottom: 1px solid #c6cdd7;
  padding: 20px;
}

p {
  padding: 20px;
  font-size: 18px;
}

span {
  padding: 20px;
  color: #c6cdd7;
  font-size: 16px;
}

header {
  width: 600px;
  overflow: hidden;
}
.header_wrap {
  display: inline;
  float: left;
}
.profile_img {
  float: right;
}

.name_text {
  font-weight: 600;
  font-style: italic;
  padding: 20px;
}
.footer {
  text-align: center;
  color: #c6cdd7;
  padding: 20px;
}

.contact_wrap {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.sns_logo{
  width: 105px;
  display: flex;
  justify-content: space-around;
}

.img {
  padding: 15px;
  width: 400px;
  height: auto;
  display: block;
  margin: 0px auto;
}

.insta_logo{
  width: 32px;
  height: 32px;
}